### Players Analysis

In [1]:
#Importing Libraries

import pandas as pd

In [2]:
#Loading in the data

df = pd.read_csv(r"C:\Users\USER\Desktop\SD DATA\NBA\DataSet 3.csv")

df

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,ft_percent,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,31871,2025,5025,A.J. Green,NaN,SG,25.0,3,NBA,MIL,...,0.833,4.0,32.0,36.0,16,10.0,1.0,9.0,33,147
1,31872,2025,5210,AJ Johnson,NaN,SG,20.0,1,NBA,MIL,...,NaN,0.0,1.0,1.0,1,0.0,0.0,1.0,0,2
2,31873,2025,4219,Aaron Gordon,NaN,PF,29.0,11,NBA,DEN,...,0.846,19.0,28.0,47.0,22,5.0,2.0,9.0,13,108
3,31874,2025,4582,Aaron Holiday,NaN,PG,28.0,7,NBA,HOU,...,0.714,0.0,9.0,9.0,14,1.0,1.0,3.0,5,42
4,31875,2025,4805,Aaron Nesmith,NaN,SF,25.0,5,NBA,IND,...,0.846,4.0,20.0,24.0,6,4.0,2.0,5.0,24,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32353,200,1947,157,Walt Miller,NaN,F,31.0,1,BAA,PIT,...,0.500,NaN,NaN,NaN,6,NaN,NaN,NaN,16,23
32354,201,1947,158,Warren Fenley,NaN,F,24.0,1,BAA,BOS,...,0.511,NaN,NaN,NaN,16,NaN,NaN,NaN,59,85
32355,202,1947,159,Wilbert Kautz,NaN,G-F,31.0,1,BAA,CHS,...,0.534,NaN,NaN,NaN,37,NaN,NaN,NaN,114,253
32356,203,1947,160,Woody Grimshaw,NaN,G,27.0,1,BAA,PRO,...,0.477,NaN,NaN,NaN,1,NaN,NaN,NaN,25,61
32357,204,1947,161,Wyndol Gray,NaN,G-F,24.0,1,BAA,BOS,...,0.581,NaN,NaN,NaN,47,NaN,NaN,NaN,105,350

In [3]:
#Selecting the required columns

new_df = df[['season','player','experience','tm','Games','mp','fg','fga','pts']]

new_df

       season          player  experience   tm  Games     mp   fg  fga  pts
0        2025      A.J. Green           3  MIL     18  362.0   49  100  147
1        2025      AJ Johnson           1  MIL      4    8.0    1    3    2
2        2025    Aaron Gordon          11  DEN      7  212.0   37   70  108
3        2025   Aaron Holiday           7  HOU     11   96.0   14   31   42
4        2025   Aaron Nesmith           5  IND      6  136.0   19   36   55
...       ...             ...         ...  ...    ...    ...  ...  ...  ...
32353    1947     Walt Miller           1  PIT     12    NaN    7   21   23
32354    1947   Warren Fenley           1  BOS     33    NaN   31  138   85
32355    1947   Wilbert Kautz           1  CHS     50    NaN  107  420  253
32356    1947  Woody Grimshaw           1  PRO     21    NaN   20   56   61
32357    1947     Wyndol Gray           1  BOS     55    NaN  139  476  350

[32358 rows x 9 columns]

In [4]:
new_df.columns

Index(['season', 'player', 'experience', 'tm', 'Games', 'mp', 'fg', 'fga',
       'pts'],
      dtype='object')

In [5]:
#Updating the column names

new_df.columns = ['Season','Player','Experience','Team','Games_Played','Minutes_Played','Field_Goals','Field_Goals_Attempted','Points']

new_df

,Season,Player,Experience,Team,Games_Played,Minutes_Played,Field_Goals,Field_Goals_Attempted,Points
0,2025,A.J. Green,3,MIL,18,362.0,49,100,147
1,2025,AJ Johnson,1,MIL,4,8.0,1,3,2
2,2025,Aaron Gordon,11,DEN,7,212.0,37,70,108
3,2025,Aaron Holiday,7,HOU,11,96.0,14,31,42
4,2025,Aaron Nesmith,5,IND,6,136.0,19,36,55
...,...,...,...,...,...,...,...,...,...
32353,1947,Walt Miller,1,PIT,12,NaN,7,21,23
32354,1947,Warren Fenley,1,BOS,33,NaN,31,138,85
32355,1947,Wilbert Kautz,1,CHS,50,NaN,107,420,253
32356,1947,Woody Grimshaw,1,PRO,21,NaN,20,56,61
32357,1947,Wyndol Gray,1,BOS,55,NaN,139,476,350

### Filtering the data

#### Required Data : Team - New York Knicks, Season - 2021-2025

In [7]:
season = [2021,2022,2023,2024,2025]
#Team abv - NYK

In [8]:
new_df[(new_df['Team'] == 'NYK') & (new_df['Season'].isin(season))]

,Season,Player,Experience,Team,Games_Played,Minutes_Played,Field_Goals,Field_Goals_Attempted,Points
31,2025,Ariel Hukporti,1,NYK,7,68.0,4,8,9
69,2025,Cameron Payne,10,NYK,15,268.0,45,102,124
187,2025,Jacob Toppin,2,NYK,5,14.0,1,2,2
198,2025,Jalen Brunson,7,NYK,19,663.0,170,347,492
237,2025,Jericho Sims,4,NYK,19,252.0,16,23,34
...,...,...,...,...,...,...,...,...,...
3241,2021,Obi Toppin,1,NYK,62,683.0,104,209,253
3272,2021,RJ Barrett,2,NYK,72,2511.0,467,1060,1264
3279,2021,Reggie Bullock,8,NYK,65,1949.0,248,561,709
3335,2021,Taj Gibson,12,NYK,45,936.0,99,158,241
3349,2021,Theo Pinson,3,NYK,17,34.0,1,9,2

In [9]:
#storing the cleaned data into a new dataframe

cleaned_df = new_df[(new_df['Team'] == 'NYK') & (new_df['Season'].isin(season))]

cleaned_df

,Season,Player,Experience,Team,Games_Played,Minutes_Played,Field_Goals,Field_Goals_Attempted,Points
31,2025,Ariel Hukporti,1,NYK,7,68.0,4,8,9
69,2025,Cameron Payne,10,NYK,15,268.0,45,102,124
187,2025,Jacob Toppin,2,NYK,5,14.0,1,2,2
198,2025,Jalen Brunson,7,NYK,19,663.0,170,347,492
237,2025,Jericho Sims,4,NYK,19,252.0,16,23,34
...,...,...,...,...,...,...,...,...,...
3241,2021,Obi Toppin,1,NYK,62,683.0,104,209,253
3272,2021,RJ Barrett,2,NYK,72,2511.0,467,1060,1264
3279,2021,Reggie Bullock,8,NYK,65,1949.0,248,561,709
3335,2021,Taj Gibson,12,NYK,45,936.0,99,158,241
3349,2021,Theo Pinson,3,NYK,17,34.0,1,9,2

In [11]:
#Resetting the Index

cleaned_df = cleaned_df.reset_index(drop=True)

cleaned_df

,Season,Player,Experience,Team,Games_Played,Minutes_Played,Field_Goals,Field_Goals_Attempted,Points
0,2025,Ariel Hukporti,1,NYK,7,68.0,4,8,9
1,2025,Cameron Payne,10,NYK,15,268.0,45,102,124
2,2025,Jacob Toppin,2,NYK,5,14.0,1,2,2
3,2025,Jalen Brunson,7,NYK,19,663.0,170,347,492
4,2025,Jericho Sims,4,NYK,19,252.0,16,23,34
...,...,...,...,...,...,...,...,...,...
93,2021,Obi Toppin,1,NYK,62,683.0,104,209,253
94,2021,RJ Barrett,2,NYK,72,2511.0,467,1060,1264
95,2021,Reggie Bullock,8,NYK,65,1949.0,248,561,709
96,2021,Taj Gibson,12,NYK,45,936.0,99,158,241
97,2021,Theo Pinson,3,NYK,17,34.0,1,9,2

In [12]:
#Top 10 players with the highest games played

players = pd.DataFrame(cleaned_df.groupby('Player')['Games_Played'].sum())  

results = players.sort_values('Games_Played', ascending=False)

results.head(10)

                    Games_Played
Player
Julius Randle                266
Immanuel Quickley            253
RJ Barrett                   241
Obi Toppin                   201
Mitchell Robinson            193
Miles McBride                186
Jalen Brunson                164
Quentin Grimes               162
Jericho Sims                 157
Isaiah Hartenstein           157

In [13]:
#Team's total points over the seasons

cleaned_df.groupby('Season')['Points'].sum()

Season
2021    7706
2022    8731
2023    9514
2024    9249
2025    2238
Name: Points, dtype: int64

In [14]:
#Players Games played vs field goals vs points

cleaned_df.groupby('Player')[['Games_Played','Field_Goals','Points']].sum()

players_detailed = pd.DataFrame(cleaned_df.groupby('Player')[['Games_Played','Field_Goals','Points']].sum())

players_detailed

                    Games_Played  Field_Goals  Points
Player
Alec Burks                   153          545    1716
Ariel Hukporti                 7            4       9
Austin Rivers                 21           58     154
Bojan BogdanoviÄ‡              29          110     303
Cam Reddish                   35           88     259
Cameron Payne                 15           45     124
Charlie Brown Jr.              8            2       6
DaQuan Jeffries               17            6      14
Damyean Dotson                 2            2       4
Danuel House Jr.               1            0       0
Dennis Smith Jr.               3            2       9
Derrick Rose                  88          391     984
Dmytro Skapintsev              2            0       0
Donte DiVincenzo              81          445    1259
Dylan Windler                  3            1       3
Elfrid Payton                 63          269     639
Evan Fournier                110          462    1302
Feron Hunt                     2            0       0
Frank Ntilikina               33           29      89
Ignas Brazdeikis               4            0       2
Immanuel Quickley            253         1084    3272
Isaiah Hartenstein           157          410     988
Jacob Toppin                  14            6      15
Jalen Brunson                164         1547    4337
Jared Harper                   8            0       3
Jericho Sims                 157          176     394
Josh Hart                    125          490    1282
Julius Randle                266         2167    6197
Karl-Anthony Towns            18          168     465
Kemba Walker                  37          149     431
Kevin Knox                    55           71     210
Malachi Flynn                 14            9      31
Mamadi Diakite                 3            0       0
Matt Mooney                    1            0       0
Matt Ryan                      5            1       3
Mikal Bridges                 19          124     294
Miles McBride                186          369    1023
Mitchell Robinson            193          637    1474
Nerlens Noel                  89          169     409
Norvel Pelle                   9            5      11
OG Anunoby                    42          252     665
Obi Toppin                   201          542    1398
Pacome Dadiet                 10            6      19
Precious Achiuwa              49          157     372
Quentin Grimes               162          490    1401
RJ Barrett                   241         1628    4571
Reggie Bullock                65          248     709
Ryan Arcidiacono              41            7      19
Shake Milton                   6            4      11
Svi Mykhailiuk                13            6      21
Taj Gibson                   113          192     486
Theo Pinson                   17            1       2
Trevor Keels                   3            1       3
Tyler Hall                     1            0       0
Tyler Kolek                   12           14      41
Wayne Selden                   3            1       5

In [16]:
#Players sorted from highest to lowest points.

players_detailed.sort_values(['Points'], ascending=False)

                    Games_Played  Field_Goals  Points
Player
Julius Randle                266         2167    6197
RJ Barrett                   241         1628    4571
Jalen Brunson                164         1547    4337
Immanuel Quickley            253         1084    3272
Alec Burks                   153          545    1716
Mitchell Robinson            193          637    1474
Quentin Grimes               162          490    1401
Obi Toppin                   201          542    1398
Evan Fournier                110          462    1302
Josh Hart                    125          490    1282
Donte DiVincenzo              81          445    1259
Miles McBride                186          369    1023
Isaiah Hartenstein           157          410     988
Derrick Rose                  88          391     984
Reggie Bullock                65          248     709
OG Anunoby                    42          252     665
Elfrid Payton                 63          269     639
Taj Gibson                   113          192     486
Karl-Anthony Towns            18          168     465
Kemba Walker                  37          149     431
Nerlens Noel                  89          169     409
Jericho Sims                 157          176     394
Precious Achiuwa              49          157     372
Bojan BogdanoviÄ‡              29          110     303
Mikal Bridges                 19          124     294
Cam Reddish                   35           88     259
Kevin Knox                    55           71     210
Austin Rivers                 21           58     154
Cameron Payne                 15           45     124
Frank Ntilikina               33           29      89
Tyler Kolek                   12           14      41
Malachi Flynn                 14            9      31
Svi Mykhailiuk                13            6      21
Pacome Dadiet                 10            6      19
Ryan Arcidiacono              41            7      19
Jacob Toppin                  14            6      15
DaQuan Jeffries               17            6      14
Shake Milton                   6            4      11
Norvel Pelle                   9            5      11
Ariel Hukporti                 7            4       9
Dennis Smith Jr.               3            2       9
Charlie Brown Jr.              8            2       6
Wayne Selden                   3            1       5
Damyean Dotson                 2            2       4
Matt Ryan                      5            1       3
Jared Harper                   8            0       3
Dylan Windler                  3            1       3
Trevor Keels                   3            1       3
Theo Pinson                   17            1       2
Ignas Brazdeikis               4            0       2
Danuel House Jr.               1            0       0
Matt Mooney                    1            0       0
Mamadi Diakite                 3            0       0
Dmytro Skapintsev              2            0       0
Tyler Hall                     1            0       0
Feron Hunt                     2            0       0