# Tutorial 4 Python Notebook 

In this tutorial there are tasks for working with lists, arrays, dictionaries, and data frames.

* Lists = Task 1-3
* Arrays = Task 4-7 
* Dictionaries = Task 8-10
* Data frames = Task 11-16

The aim of this tutorial notebook is to give you some (guided) hands-on experience working with different data structures in Python.

In [1]:
import numpy as np 
import pandas as pd

## Lists 

### Task 1

Create a list containing strings, numbers, a list, and Boolean values.

In [2]:
lst_one = ['a','b','c','d', 45,30,23,34, ['hello','world',90,21,67], True, False]

lst_one

['a',
 'b',
 'c',
 'd',
 45,
 30,
 23,
 34,
 ['hello', 'world', 90, 21, 67],
 True,
 False]

### Task 2

How would you index to the first item in the nested list in the list you created in task 1?

In [3]:
## your answer 

lst_one[8][0]

'hello'

### Task 3

Convert the list below into a 1-dimensional array.

In [4]:
list1 = [12.23, 13.32, 100.1, 36.45]

np.array(list1)

array([ 12.23,  13.32, 100.1 ,  36.45])

<details><summary style='color:darkblue'>HINT: Where do we get the array data structure? CLICK HERE TO SEE THE ANSWER. BUT REALLY TRY TO DO IT YOURSELF FIRST!</summary>

Remember, arrays are **not** a built-in Python data structure. We access them through the `NumPy` package.

## Array

## Task 4

Use the keyboard variable below to spell your name by referencing the letters in the array.

<details><summary style='color:darkblue'>HINT: Example solution. CLICK HERE TO SEE THE ANSWER. BUT REALLY TRY TO DO IT YOURSELF FIRST!</summary>

brittany is: 
    
`print(keyboard[2,4], keyboard[0,3], keyboard[0,7], keyboard[0,4], keyboard[0,4], keyboard[1,0], keyboard[2,5], keyboard[0,5])`

In [5]:
keyboard = np.array([ ['q','w','e','r','t','y','u','i','o','p'],
                      ['a','s','d','f','g','h','j','k','l',';'],
                      ['z','x','c','v','b','n','m','<','>','?']
                   ])

In [6]:
## your answer here 

keyboard[0][1],keyboard[1][0],keyboard[1][5],keyboard[0][-2],keyboard[2][-4],keyboard[0][2]

('w', 'a', 'h', 'o', 'm', 'e')

### Task 5 

Create a 1-dimensional array with values ranging from 20 and 80.

In [5]:
## your answer 
list2 = np.array(range(20,81))

list2

array([20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36,
       37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53,
       54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70,
       71, 72, 73, 74, 75, 76, 77, 78, 79, 80])

### Task 6

Reverse the array created in Task 5.

<details><summary style='color:darkblue'>HINT: A reminder. CLICK HERE TO SEE THE ANSWER. BUT REALLY TRY TO DO IT YOURSELF FIRST!</summary>
    
Indexing with arrays (and lists and dataframes) can be done with the following syntax ` my_array[start_index : stop_index : step/jump]`

<details><summary style='color:darkblue'>HINT: Another reminder. CLICK HERE TO SEE THE ANSWER. BUT REALLY TRY TO DO IT YOURSELF FIRST!</summary>

Remember that reverse indexing in Python and R are very different!

In [8]:
## your answer 
list2[::-1]

array([80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64,
       63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47,
       46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30,
       29, 28, 27, 26, 25, 24, 23, 22, 21, 20])

### Task 7

Create a 2D array with 1 across the border and 0 inside/middle.

<details><summary style='color:darkblue'>HINT: Breaking down the problem. CLICK HERE TO SEE THE ANSWER. BUT REALLY TRY TO DO IT YOURSELF FIRST!</summary>

This may sound easy enough, but is actually quite tricky as we are working in 2 dimensions! As a first step, create a 2-D array filled with ones (there is a specific function for this). Then replace the inside or middle values of the array with 0.

In [6]:
## your answer 

x= np.ones((5,5))
x[1:-1, 1:-1] = 0
x

array([[1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1.]])

## Dictionaries

### Task 8

Create a dictionary comprised of colors blue, red, green; animals dog, cat, horse; and age 33, 56, 24.

In [7]:
## your answer 

Dict = {'Colors':['red','green','blue'],'Animals':['dog','cat','horse'],'Age':[33,56,24]}

Dict

{'Colors': ['red', 'green', 'blue'],
 'Animals': ['dog', 'cat', 'horse'],
 'Age': [33, 56, 24]}

### Task 9

Add a new key value pair to the list created in Task 8 called flower comprised of daisy, rose, and lily.

In [8]:
## your answer 
Dict['Flower'] = ['daisy','rose','lily']

Dict

{'Colors': ['red', 'green', 'blue'],
 'Animals': ['dog', 'cat', 'horse'],
 'Age': [33, 56, 24],
 'Flower': ['daisy', 'rose', 'lily']}

### Task 10

Convert your dictionary into a data frame.

<details><summary style='color:darkblue'>HINT: Where do we get the data frame data structure? CLICK HERE TO SEE THE ANSWER. BUT REALLY TRY TO DO IT YOURSELF FIRST!</summary>

Remember, data frames are **not** a built-in Python data structure. We access them through the `pandas` package.

In [9]:
df = pd.DataFrame(Dict)

df

  Colors Animals  Age Flower
0    red     dog   33  daisy
1  green     cat   56   rose
2   blue   horse   24   lily

## Data frames 

For this series of tasks we will be using a publicly available dataset from [Public Health Scotland around Stroke Activity](https://www.opendata.nhs.scot/dataset/scottish-stroke-statistics/resource/47656572-e196-40c8-83e8-08b0b223b2e6). This dataset provides "Information on hospital activity related to cerebrovascular disease (including stroke and subarachnoid haemorrhage)." Look through the link and read the data dictionary at the bottom to familiarise yourself with the variables.  

We will first read in the data. You can read in data from a URL with the `read_csv()` function but inputting the URL as a character string - how helpful! From the link above to the data set there is a URL I have copied at the top of the page. It is good practice when first reading in a data set to name it and add `_raw` or some delineation that it is the raw data. As you process the data for your analytic purposes, you can then save the data in an object without this delineation. This allows you to maintain an object with a version of the raw data that you can refer to later if needed.

In [10]:
stroke_raw = pd.read_csv("https://www.opendata.nhs.scot/dataset/f5dcf382-e6ca-49f6-b807-4f9cc29555bc/resource/47656572-e196-40c8-83e8-08b0b223b2e6/download/stroke_activitybyhbr.csv")

In [11]:
# it is always a good idea to do a quick visual check of data once you read it in to spot an obvious or blantant parsing issues 
stroke_raw # looks good!

,FinancialYear,HBR,HBRQF,AdmissionType,AdmissionTypeQF,AgeGroup,AgeGroupQF,Sex,SexQF,Diagnosis,NumberOfDischarges,NumberOfDischargesQF,CrudeRate,CrudeRateQF,EASR
0,2013/14,S08000015,NaN,All,d,0-44 years,NaN,Males,NaN,Cerebrovascular Disease,57.0,NaN,61.547764,NaN,66.515711
1,2013/14,S08000015,NaN,All,d,0-44 years,NaN,Females,NaN,Cerebrovascular Disease,42.0,NaN,44.180298,NaN,43.481241
2,2013/14,S08000015,NaN,All,d,45-64 years,NaN,Males,NaN,Cerebrovascular Disease,231.0,NaN,445.773832,NaN,444.876027
3,2013/14,S08000015,NaN,All,d,45-64 years,NaN,Females,NaN,Cerebrovascular Disease,209.0,NaN,371.238765,NaN,372.420079
4,2013/14,S08000015,NaN,All,d,65-74 years,NaN,Males,NaN,Cerebrovascular Disease,244.0,NaN,1198.899371,NaN,1229.931638
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43195,2022/23,S92000003,d,Transfer,NaN,45-64 years,NaN,All,d,TIAs and related syndromes,262.0,NaN,17.582418,NaN,16.915867
43196,2022/23,S92000003,d,Transfer,NaN,65-74 years,NaN,All,d,TIAs and related syndromes,300.0,NaN,50.371236,NaN,50.648669
43197,2022/23,S92000003,d,Transfer,NaN,75plus years,NaN,All,d,TIAs and related syndromes,726.0,NaN,151.792976,NaN,153.689663
43198,2022/23,S92000003,d,Transfer,NaN,under75 years,NaN,All,d,TIAs and related syndromes,572.0,NaN,11.436302,NaN,10.970167
43199,2022/23,S92000003,d,Transfer,NaN,All,d,All,d,TIAs and related syndromes,1298.0,NaN,23.686564,NaN,23.814921

In [12]:
# using pd.read_csv() will import the data for us as a pandas data frame 
type(stroke_raw)

pandas.core.frame.DataFrame

### Task 11 

Look through the imported data to check it looks as it should based on the data dictionary. Are all the expected variables included? What dimensions does the dataframe have? Do the dtypes of these variables look to be correct?

<details><summary style='color:darkblue'>HINT: A useful new function! CLICK HERE TO SEE</summary>
    
There is a useful function called `head()` which will print by default the first 5 rows of a dataframe. The counterpart is `tail()` which print the last 5 rows by default. Both functions take the argument `n = ` if you wish to specify a different number of rows other than 5. There are counterpart functions in R with the same name and functionality!
    
This will help in solving the task, but you will need to use some other summary/description functions as well.

In [14]:
## your answer 
stroke_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43200 entries, 0 to 43199
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   FinancialYear         43200 non-null  object
 1   HBR                   43200 non-null  object
 2   HBRQF                 2880 non-null   object
 3   AdmissionType         43200 non-null  object
 4   AdmissionTypeQF       10800 non-null  object
 5   AgeGroup              43200 non-null  object
 6   AgeGroupQF            7200 non-null   object
 7   Sex                   43200 non-null  object
 8   SexQF                 14400 non-null  object
 9   Diagnosis             43200 non-null  object
 10  NumberOfDischarges    39503 non-null  float64
 11  NumberOfDischargesQF  3697 non-null   object
 12  CrudeRate             39503 non-null  float64
 13  CrudeRateQF           3697 non-null   object
 14  EASR                  43200 non-null  float64
dtypes: float64(3), object(12)
memory usage: 4.9+ MB

### Task 12 

We do not need all of the columns in the dataset. The only variables we need for the next tasks are `FinancialYear`, `AdmissionType`, `AgeGroup`, `Diagnosis`, and `NumberOfDischarges`. Within the `HBR` variable, "S92000003" is the country code for Scotland. The `Sex` variable we do not need for this task, but it too includes an aggregate level "All". Filter the data such that only these aggregate level are included for these 2 variables. Filter the data accordingly and save this processed dataset into an object called `stroke`.

<details><summary style='color:darkblue'>HINT 1: Think about your data structures! CLICK HERE TO SEE</summary>
Remember to think about your input data structures - for example, perhaps you will want to use a list to list the columns we want to keep

<details><summary style='color:darkblue'>HINT 2: Indexing operators CLICK HERE TO SEE</summary>

We learned about `loc` and `iloc` this week to indexing location based on name or numeric index, respectively

<details><summary style='color:darkblue'>HINT 3: Resulting data frame dimensions. CLICK HERE TO SEE</summary>

the object `stroke` should contain 960 rows and 5 columns

In [15]:
stroke_raw = stroke_raw[(stroke_raw['HBR'] == 'S92000003') & (stroke_raw['Sex'] == 'All')]

stroke_raw

,FinancialYear,HBR,HBRQF,AdmissionType,AdmissionTypeQF,AgeGroup,AgeGroupQF,Sex,SexQF,Diagnosis,NumberOfDischarges,NumberOfDischargesQF,CrudeRate,CrudeRateQF,EASR
7284,2013/14,S92000003,d,All,d,0-44 years,NaN,All,d,Cerebrovascular Disease,1239.0,NaN,42.477796,NaN,43.778982
7285,2013/14,S92000003,d,All,d,45-64 years,NaN,All,d,Cerebrovascular Disease,6822.0,NaN,465.988699,NaN,474.211086
7286,2013/14,S92000003,d,All,d,65-74 years,NaN,All,d,Cerebrovascular Disease,6608.0,NaN,1265.168427,NaN,1306.967804
7287,2013/14,S92000003,d,All,d,75plus years,NaN,All,d,Cerebrovascular Disease,14331.0,NaN,3375.208433,NaN,3419.894446
7288,2013/14,S92000003,d,All,d,under75 years,NaN,All,d,Cerebrovascular Disease,14669.0,NaN,299.177827,NaN,314.877151
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43195,2022/23,S92000003,d,Transfer,NaN,45-64 years,NaN,All,d,TIAs and related syndromes,262.0,NaN,17.582418,NaN,16.915867
43196,2022/23,S92000003,d,Transfer,NaN,65-74 years,NaN,All,d,TIAs and related syndromes,300.0,NaN,50.371236,NaN,50.648669
43197,2022/23,S92000003,d,Transfer,NaN,75plus years,NaN,All,d,TIAs and related syndromes,726.0,NaN,151.792976,NaN,153.689663
43198,2022/23,S92000003,d,Transfer,NaN,under75 years,NaN,All,d,TIAs and related syndromes,572.0,NaN,11.436302,NaN,10.970167
43199,2022/23,S92000003,d,Transfer,NaN,All,d,All,d,TIAs and related syndromes,1298.0,NaN,23.686564,NaN,23.814921

In [16]:
stroke = stroke_raw[['FinancialYear','AdmissionType','AgeGroup','Diagnosis','NumberOfDischarges']]

stroke

,FinancialYear,AdmissionType,AgeGroup,Diagnosis,NumberOfDischarges
7284,2013/14,All,0-44 years,Cerebrovascular Disease,1239.0
7285,2013/14,All,45-64 years,Cerebrovascular Disease,6822.0
7286,2013/14,All,65-74 years,Cerebrovascular Disease,6608.0
7287,2013/14,All,75plus years,Cerebrovascular Disease,14331.0
7288,2013/14,All,under75 years,Cerebrovascular Disease,14669.0
...,...,...,...,...,...
43195,2022/23,Transfer,45-64 years,TIAs and related syndromes,262.0
43196,2022/23,Transfer,65-74 years,TIAs and related syndromes,300.0
43197,2022/23,Transfer,75plus years,TIAs and related syndromes,726.0
43198,2022/23,Transfer,under75 years,TIAs and related syndromes,572.0
43199,2022/23,Transfer,All,TIAs and related syndromes,1298.0

### Task 13 

Check the data types of the remaining 5 variables and convert them to a better data type if needed.

<details><summary style='color:darkblue'>HINT: Editing the dataframe. CLICK HERE TO SEE THE ANSWER. BUT REALLY TRY TO DO IT YOURSELF FIRST!</summary>

In order to actually change the data types in the original dataframe, make sure to assign it back to an object since the `astype()` functions returns a copy.

In [17]:
## your answer 

stroke.dtypes

FinancialYear          object
AdmissionType          object
AgeGroup               object
Diagnosis              object
NumberOfDischarges    float64
dtype: object

### Task 14

Look at the categories within the categorical variables - is there anything unexpected?

<details><summary style='color:darkblue'>HINT: A warning about the data not to miss. CLICK HERE TO SEE THE ANSWER. BUT REALLY TRY TO DO IT YOURSELF FIRST!</summary>

It looks like some of our variables include aggregate level responses! Good thing we checked our data. Aggregate data is very common in health and social care data. It is crucial to check your data to ensure you are aware of any aggregate categories. Depending on your specific use case, you may wish to use only the aggregate levels or perhaps remove the aggregate levels and only work with the finer-grained categories.

In [18]:
## your answer

stroke['NumberOfDischarges'].isna().sum()

0

## Task 15 

`AgeGroup` is a bit messy. It should be ordered and includes 2 aggregate categories. Remove the aggregate categories and order the remaining categories.

<details><summary style='color:darkblue'>HINT: Resulting data frame dimensions. CLICK HERE TO SEE</summary>

Your `stroke` data frame should contain 640 rows and 5 columns

<details><summary style='color:darkblue'>HINT: A new "not" operator. CLICK HERE TO SEE</summary>

In Python is `~` is a bitwise operator for NOT

In [19]:
## your answer 

stroke['Diagnosis'].unique()

array(['Cerebrovascular Disease', 'Stroke', 'Subarachnoid Haemorrhage',
       'TIAs and related syndromes'], dtype=object)

### Task 16 

Create a summary table with the average number of discharges with a stroke diagnosis by age group for all admissions in the financial years 2021/22 and 2022/23.

<details><summary style='color:darkblue'>HINT: Breaking down the task. CLICK HERE TO SEE</summary>

Further filtering of the data is needed for this task. THEN grouping the data in order to compute our values of interest

In [20]:
## your answer 

stroke = stroke[(stroke['FinancialYear'].isin(['2021/22','2022/23'])) & (stroke['AdmissionType'] == 'All') &
                (stroke['Diagnosis'] == 'Stroke') & 
                (~stroke['AgeGroup'].isin(["All", "under75 years"]))]

stroke

      FinancialYear AdmissionType      AgeGroup Diagnosis  NumberOfDischarges
20964       2021/22           All    0-44 years    Stroke               807.0
20965       2021/22           All   45-64 years    Stroke              5608.0
20966       2021/22           All   65-74 years    Stroke              6009.0
20967       2021/22           All  75plus years    Stroke             12973.0
21324       2022/23           All    0-44 years    Stroke               777.0
21325       2022/23           All   45-64 years    Stroke              5565.0
21326       2022/23           All   65-74 years    Stroke              6085.0
21327       2022/23           All  75plus years    Stroke             13745.0

In [21]:
stroke.groupby(['FinancialYear','AgeGroup'])['NumberOfDischarges'].mean()

FinancialYear  AgeGroup
2021/22        0-44 years        807.0
               45-64 years      5608.0
               65-74 years      6009.0
               75plus years    12973.0
2022/23        0-44 years        777.0
               45-64 years      5565.0
               65-74 years      6085.0
               75plus years    13745.0
Name: NumberOfDischarges, dtype: float64